{% extends 'package/snippets/package_form.html' %}
{% block stages %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block save_button_text %}
    {% if form_style != 'edit' %}
        {{ super() }}
    {% else %}
        {% if data.state == 'active' %}
            {{ _('Update Dataset') }}
        {% endif %}
        {% if data.state == 'pending' %}
          {% set aw = h.get_approvalworkflow_info({}) %}
          {% if not c.userobj.sysadmin %}
            {{ _('Approval pending') }}
          {% else %}
            {{ _('Approve') }}
          {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block cancel_button %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block delete_button %}
  {% if form_style == 'edit' and data.state == 'pending' %}
    {% set aw = h.get_approvalworkflow_info({}) %}
      <a class="btn btn-danger pull-left" href="{% url_for 'dataset_approval_workflow.reject', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to reject this dataset?') }}">
        {% block delete_button_text %}
          {% if data.state == 'pending' %}
            {{ _('Reject') }}
          {% else %}
            {{ super() }}
          {% endif %}
        {% endblock %}
      </a>
  {% else %}
      {{ super() }}
  {% endif %}  
{% endblock %}
