{% extends 'package/snippets/package_form.html' %}
{% block stages %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block save_button_text %}
    {% if form_style != 'edit' %}
        {{ super() }}
    {% else %}
        {% if data.state == 'active' %}
            {{ _('Update Dataset') }}
        {% endif %}
        {% if data.state == 'pending' %}
            {{ _('Approve') }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block cancel_button %}
  {% if form_style != 'edit' %}
    {{ super() }}
  {% endif %}
{% endblock %}

{% block delete_button %}
  {% if form_style == 'edit' and data.state == 'pending' %}
    <a class="btn btn-danger pull-left" href="" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to reject this dataset?') }}">{% block delete_button_text %}{{ _('Reject') }}{% endblock %}</a>
  {% endif %}  
{% endblock %}
