include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/approvalworkflow *.html *.json *.js *.less *.css *.mo *.yml *txt
recursive-include ckanext/approvalworkflow/migration *.ini *.py *.mako
