{% ckan_extends %}

{% block subtitle %}{{ super() }}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
{% endblock %}

{% block content_action %}
  {{ super() }}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(group_type + '.read', _('Datasets'), id=group_dict.name, icon='sitemap') }}
  {{ h.build_nav_icon(group_type + '.activity', _('Activity Stream'), id=group_dict.name, offset=0, icon='clock-o') }}
  {{ h.build_nav_icon('org_approval_workflow.approval_workflow', _('Approval Workflow Settings'), id=group_dict.name, icon='list') }}
  {{ h.build_nav_icon(group_type + '.about', _('About'), id=group_dict.name, icon='info-circle') }}
{% endblock %}

{% block secondary_content %}
  {{ super() }}
{% endblock %}

{% block links %}
  {{ super() }}
{% endblock %}
