{% extends "approval_workflow/index.html" %}

{% asset 'approvalworkflow/approvalworkflow-js' %}
{% asset 'approvalworkflow/approvalworkflow-org-js' %}
{% import 'macros/autoform.html' as autoform %}

{% import 'macros/form.html' as form %}

{% block primary_content_inner %}

  {{ form.errors(error_summary) }}

  <form method='post' action="" id="approval-config-form" enctype="multipart/form-data">
    {% block approval_form %}
        {{ form.select('approval_workflow_active', id='field-approval-workflow-active', label=_('Activate approval workflow'), options=data['activity_workflow_options'], selected=data['approval_workflow_active'], error=error) }}

        <div id="edit-options">
        {{ form.checkbox('ckan.edit-button', label="Disable edit button" ,value=True, checked=data.deactivate_edit, error=error) }}
        </div>
        <div id="organizations">
          <h3>{{ _('In order to activate the Approval workflow, go to the specific organization and add the configuration') }}</h3>
          <h5> {{ _('Click on the link bellow to go to the list of available Organizations  ') }}</h5>
          <a href="{{ h.url_for('organization.index') }}">{{ _('Organizations') }}</a>
        </div>

        </div>        
      {% endblock %}
      <div class="form-actions">
        <!-- <a href="{% url_for 'admin.reset_config' %}" class="btn btn-danger pull-left" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to reset the config?') }}">{{ _('Reset') }}</a> -->
        <button type="submit" class="btn btn-primary" name="save">{{ _('Update Config') }}</button>
      </div>
  </form>
{% endblock %}
