{% extends "page.html" %}

{% block breadcrumb_content %}
  <li class="active"><a href="{{ h.url_for('approval_workflow.config') }}">{{ _('Approval Workflow') }}</a></li>
{% endblock %}

{% block secondary %}{% endblock %}

{% block primary %}
  <article class="module">
    {% block page_header %}
      <header class="module-content page-header hug">
        <div class="content_action">
        </div>
    {% block content_primary_nav %}    
        <ul class="nav nav-tabs">
          {{ h.build_nav_icon('approval_workflow.config', _('Settings'), icon='list') }}
          {{ h.build_nav_icon('approval_workflow.datasets', _('Pending review'), icon='sitemap') }}
        </ul>
     {% endblock %}   
      </header>
    {% endblock %}

    <div class="module-content">
      {% if self.page_primary_action() | trim %}
        <div class="page_primary_action">
          {% block page_primary_action %}{% endblock %}
        </div>
      {% endif %}
      {% block primary_content_inner %}
        <div data-module="dashboard">
          <h2 class="page-heading">
            {% block page_heading %}
              {{ _('Approval Workflow settings') }}
            {% endblock %}
          </h2>
        </div>
      {% endblock %}
    </div>
  </article>
  
{% endblock %}
