{% ckan_extends %}



{% block save_button %}
    <!-- if user is not sysadmin -->
    {% if not c.userobj.sysadmin %}
        {% set aw = h.get_approvalworkflow_info({}) %}
        {% if data.id %}
            {% set aw_pkg = h.get_approvalworkflow_org_info({}, data.id) %}
            {% if (data.state == 'pending' and aw.disable_edit) or (data.state == 'pending' and aw_pkg.deactivate_edit) %}
                <h4>Can't edit this dataset</h4>
            {% else %}
                <button class="btn btn-primary" type="submit" name="save">
            {% endif %}
        {% else %}
            <button class="btn btn-primary" type="submit" name="save">
        {% endif %}
    {% else %}
        <button class="btn btn-primary" type="submit" name="save">
    {% endif %}

    {% block save_button_text %}{{ _('Next: Add Data') }}{% endblock %}</button>
{% endblock %}

{{ super() }}
