{% ckan_extends %}

{% block delete_button %}
    {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
        <a class="btn btn-danger pull-left" href="{% url_for dataset_type ~ '.delete', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this dataset?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
    {% endif %}
{% endblock %}

{% block save_button %}
    <!-- if user is not sysadmin -->
    {% if not c.userobj.sysadmin %}
        {% set aw = h.get_approvalworkflow_info({}) %}
        {% if data.id %}
            {% set aw_pkg = h.get_approvalworkflow_org_info({}, data.id) %}
            {% if (data.state == 'pending' and aw.disable_edit) or (data.state == 'pending' and aw_pkg.deactivate_edit) %}
                <h4>Can't edit this dataset</h4>
            {% else %}
                <button class="btn btn-primary" type="submit" name="save">
            {% endif %}
        {% else %}
            <button class="btn btn-primary" type="submit" name="save">
        {% endif %}
    {% else %}
        <button class="btn btn-primary" type="submit" name="save">
    {% endif %}

    {% block save_button_text %}{{ _('Next: Add Data') }}{% endblock %}</button>
{% endblock %}

{{ super() }}
